.main {

    padding: 1.2rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainSubContainer {
    background-color: var(--read-msg-color);
    border-radius: 14px;
    height: 100%;
}

.title {
    color: #8191A9;
    font-weight: 500;
    padding: 2rem 4rem;
    text-decoration: underline;
    text-align: center;
}

.avatarAlign {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}


.avatarContainer {
    position: relative;
    /* display: inline; */
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;


}

.avatar {
    /* border-radius: 50%;
    width: calc(10rem + 2px);
    height: calc(10rem + 2px);
    border: black 2px solid; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

.avatarContainer:hover .avatarOverlay {
    opacity: 1;
}

.imgText {
    color: #8191A9;
    padding: 1.2rem;
}

.avatarOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.btnAnimation {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.active {
    opacity: 1;
    pointer-events: all;
}